* {
    margin: 0;
    padding: 0;
    font-family: 'Bevan', serif;
    font-family: 'Ubuntu', sans-serif;
    overflow-y: hidden;


}

html {

    background: rgb(19, 63, 122);
    background: linear-gradient(180deg, rgba(19, 63, 122, 1) 0%, rgba(0, 0, 0, 1) 100%);

    overflow: scroll;
}