/* navbar css */


.nav-a-00 {
    z-index: 5;
    position: absolute;
    display: flex;
    width: 100%;
    height: 13vh;
    background: rgb(0, 56, 130);
    background: linear-gradient(138deg, rgba(0, 56, 130, 1) 0%, rgba(0, 56, 130, 1) 27%, rgba(4, 45, 98, 1) 31%, rgba(7, 38, 79, 1) 100%);
    justify-content: space-between;
    overflow: hidden;
}

.logo-img {
    object-fit:cover;
    height: 8vh;

}

.logo {
    margin: auto 1vh;
    height: 8vh;
    overflow: hidden;
}

.parent-1 {
    display: flex;
    margin: auto 1vh;
    height: 17vh;
    justify-content: flex-start;
}


.help {

    display: flex;
    overflow: hidden;
}


.liste {
    display: flex;
    margin: auto 1vh;
    height: 17vh;
    justify-content: center;

}

.liste-buton {
    font-size: x-large;
    font-weight: 700;
    margin: 3vh 2vh;
    padding: 1vh;
    color: white;
    width:max-content;
    overflow:hidden;

}

.held {
    height: 17vh;

}

.held:hover {
    background: rgb(69, 124, 197);
    margin: auto 0;

}




/* dropdown */
.dropdown {
    float: left;
    overflow: hidden;

}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background: rgb(69, 124, 197);
    width: max-content;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 3;
    transition: 1s;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 2vh;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: large;
    font-weight: 600;
    color: #ffffff;
}



/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ffffff;
    color: black;

}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    position: fixed;

}

/* parent 3 */

.parent-3 {
    display: flex;
    overflow: hidden;


}

.parent-3 img {
    padding: 1vh;
    height: 6vh;
    margin: auto 0;
    overflow: hidden;
}

.parent-3 i {
    margin: auto 0;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    font-size: xx-large;
    color: #ffffff;
    padding: 2vh;
    border-left: 3px solid white;

}

.parent-3 i:hover {

    margin: auto 0;
    font-size: 2.2rem;
    color: #ffffff;
    padding: 2vh;

}

.a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}


/* switch */


input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

.lbl {
    cursor: pointer;
    text-indent: -9999px;
    width: 3rem;
    height: 1.6rem;
    background-image: url(../../Source/img/en.png);
    background-size:contain;
    background-repeat: no-repeat;
    display: block;
    border-radius: 100px;
    position: relative;
    overflow:hidden;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 1rem;
}

.lbl:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 1rem;
    height: 1rem;
    background: #fff;
    border-radius: 1rem;
    transition: 0.3s;
}

input:checked+.lbl {
    background-image: url(../../Source/img/tr.png);
    background-size: contain;
    background-repeat: repeat;
}

input:checked+.lbl:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

.lbl:active:after {
    width: 1rem;
}

